#Numeric Types: int(정수), float(소수), complex(복소수)

#Sequence Types: str(문자열), list(리스트), tuple(튜플)

#Mapping Type: dict(딕셔너리)

#Set Types: set(집합)

#Boolean Type: bool(불리언)

#Binary Types: bytes, bytearray, memoryview

#정수(int): Badge , Card (만약 0111이 1111으로 변환 못하면, 문자형이 낫다)

#문자열(str): Name , Gender , Nation , Company, Contract , C.Status , Accessibiliity

In [1]:
import pandas as pd
InOutItem = {'Type' : ['String','String','String','String','String','String','String','Datetime']}
item = ['Badge', 'Gantry', 'Project' , 'Card', 'User', 'Company', 'Status', 'Date']
InOutDataFrame = pd.DataFrame(InOutItem, columns=['Type', 'Description'], index = item)
InOutDataFrame
#InOutDataFrame.to_excel("C:/Users/kimjunseok/Downloads/InOutDataFrame.xlsx", index = True)

             Type Description
Badge      String         NaN
Gantry     String         NaN
Project    String         NaN
Card       String         NaN
User       String         NaN
Company    String         NaN
Status     String         NaN
Date     Datetime         NaN

In [2]:

InOutItem = {'Example' : ['027760','B20G1W006','WBS D','01956988','PHROMPONG WONGMAI','KAEFER','OUT','07/01/2022, 11:49']}
item = ['Badge', 'Gantry', 'Project' , 'Card', 'User', 'Company', 'Status', 'Date']
InOutDataFrame = pd.DataFrame(InOutItem, columns=['Example'], index = item)
InOutExample = InOutDataFrame.T
InOutExample

,Badge,Gantry,Project,Card,User,Company,Status,Date
Example,027760,B20G1W006,WBS D,01956988,PHROMPONG WONGMAI,KAEFER,OUT,"07/01/2022, 11:49"

In [3]:
InOutExample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Example to Example
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Badge    1 non-null      object
 1   Gantry   1 non-null      object
 2   Project  1 non-null      object
 3   Card     1 non-null      object
 4   User     1 non-null      object
 5   Company  1 non-null      object
 6   Status   1 non-null      object
 7   Date     1 non-null      object
dtypes: object(8)
memory usage: 180.0+ bytes

In [4]:
InOutExample['Date']
pd.to_datetime(InOutExample['Date'])

Example   2022-07-01 11:49:00
Name: Date, dtype: datetime64[ns]

In [5]:
InOutExample['Date']

Example    07/01/2022, 11:49
Name: Date, dtype: object

In [6]:
InOutExample['Date'] = pd.to_datetime(InOutExample['Date'])

In [7]:
InOutExample

,Badge,Gantry,Project,Card,User,Company,Status,Date
Example,027760,B20G1W006,WBS D,01956988,PHROMPONG WONGMAI,KAEFER,OUT,2022-07-01 11:49:00

In [8]:
InOutExample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Example to Example
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Badge    1 non-null      object
 1   Gantry   1 non-null      object
 2   Project  1 non-null      object
 3   Card     1 non-null      object
 4   User     1 non-null      object
 5   Company  1 non-null      object
 6   Status   1 non-null      object
 7   Date     1 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(7)
memory usage: 180.0+ bytes

In [ ]:
#datetime ㅂㄹ